---
layout: page
title : Archive
---


<div id="entry-content">
  <h3>{{ page.title }}</h3>
  <h5></h5>
  <br/>
  <div id="entry-body">


    <div>
      {% for post in site.posts  %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    
        {% if forloop.first %}
          <br/>
          <h3>{{this_year}}</h3>
          <ul class="ul_none">
        {% endif %}
    
        <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.date | date: "%Y/%m/%d" }} : {{ post.title }}</a></li>
    
        {% if forloop.last %}
          </ul>
        {% else %}
          {% if this_year != next_year %}
            </ul>
            <br/>
            <h3>{{next_year}}</h3>
            <ul class="ul_none">
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

  </div>
  <br/>
</div>
