---
layout: page
title: Tags
---

<div id="entry-content">
  <h3>{{ page.title }}</h3>
  <h5></h5>
  <br/>
  <div id="entry-body">

    <ul class="tag_box inline">
      {% assign tags_list = site.tags | sort %}  
      {% if tags_list.first[0] == null %}
        {% for tag in tags_list %} 
          <li><a href="{{ BASE_PATH }}{{ site.path.tags }}#{{ tag }}-ref">{{ tag }}<span>({{ site.tags[tag].size }})</span></a></li>
        {% endfor %}
      {% else %}
        {% for tag in tags_list %} 
          <li><a href="{{ BASE_PATH }}{{ site.path.tags }}#{{ tag[0] }}-ref">{{ tag[0] }} <span>({{ tag[1].size }})</span></a></li>
        {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    </ul>
    
    <br/>
    <hr/>
    <br/>
    
    {% assign tags_detail_list = site.tags | sort %}  
    {% for tag in tags_detail_list %} 
      <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
      <ul class="ul_none">
        {% assign pages_list = tag[1] %}  
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if group == null or group == node.group %}
              {% if page.url == node.url %}
              <li class="active"><a href="{{ BASE_PATH }}{{ node.url }}" class="active">{{ node.date | date: "%Y/%m/%d" }} : {{ node.title }}</a></li>
            {% else %}
              <li><a href="{{ BASE_PATH }}{{ node.url }}">{{ node.date | date: "%Y/%m/%d" }} : {{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
      {% assign pages_list = nil %}
      {% assign group = nil %}
    {% endfor %}

  </div>
  <br/>
</div>


