<div id="author">
  <h2>Author</h2>
  <a href="{{ BASE_PATH }}/about.html"><img id="aboutMe" src="{{ BASE_PATH }}/images/aboutme_s.jpg" alt="" title="" width="120" height="80" ></a>
  <p><a href="{{ BASE_PATH }}/about.html">tavi</a></p>
</div>
<hr/>
<div id="recent">
  <h2>Recent Entry</h2>
  <ul>
  {% for post in site.posts limit:10 %}
    <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title}}</a></li>
  {% endfor %}
  <li class="more">
    <a href="{{ BASE_PATH }}{{ site.path.archive }}">All...</a>
  </li>
  </ul>
</div>
<hr/>
<div id="category">
  <h2>Tag</h2>
  <ul>
  {% assign tags_list = site.tags %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.path.tags }}#{{ tag }}-ref">{{ tag | join: "/" }}</a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.path.tags }}#{{ tag[0] }}-ref">{{ tag[0] | join: "/" }}</a></li>
    {% endfor %}
  {% endif %}
  {% assign tags_list = nil %}
  </ul>
</div>

<hr/>

<div>
  <h2>Powered by</h2>
</div>
<div id="powered">
  <a href="https://github.com/"><img src="{{ BASE_PATH }}/images/octocat.jpg" alt="Powered by Github" /></a>
</div>
<hr/>
