div.highlight  { background: #242424; color: #f6f3e8}
div.highlight .hll { background-color: #ffffcc }
div.highlight .c { color: #99968b; font-style: italic} /* Comment */
div.highlight .err { color: #f6f3e8} /* Error */
div.highlight .g { color: #f6f3e8} /* Generic */
div.highlight .k { color: #8ac6f2} /* Keyword */
div.highlight .l { color: #f6f3e8} /* Literal */
div.highlight .n { color: #f6f3e8} /* Name */
div.highlight .o { color: #f6f3e8} /* Operator */
div.highlight .x { color: #f6f3e8} /* Other */
div.highlight .p { color: #f6f3e8} /* Punctuation */
div.highlight .cm { color: #99968b; font-style: italic} /* Comment.Multiline */
div.highlight .cp { color: #e5786d} /* Comment.Preproc */
div.highlight .c1 { color: #99968b; font-style: italic} /* Comment.Single */
div.highlight .cs { color: #99968b; font-style: italic} /* Comment.Special */
div.highlight .gd { color: #f6f3e8} /* Generic.Deleted */
div.highlight .ge { color: #f6f3e8} /* Generic.Emph */
div.highlight .gr { color: #f6f3e8} /* Generic.Error */
div.highlight .gh { color: #f6f3e8; font-weight: bold} /* Generic.Heading */
div.highlight .gi { color: #f6f3e8} /* Generic.Inserted */
div.highlight .go { color: #808080; background-color: #303030 } /* Generic.Output */
div.highlight .gp { color: #f6f3e8} /* Generic.Prompt */
div.highlight .gs { color: #f6f3e8} /* Generic.Strong */
div.highlight .gu { color: #f6f3e8; font-weight: bold} /* Generic.Subheading */
div.highlight .gt { color: #f6f3e8} /* Generic.Traceback */
div.highlight .kc { color: #8ac6f2} /* Keyword.Constant */
div.highlight .kd { color: #8ac6f2} /* Keyword.Declaration */
div.highlight .kn { color: #8ac6f2} /* Keyword.Namespace */
div.highlight .kp { color: #8ac6f2} /* Keyword.Pseudo */
div.highlight .kr { color: #8ac6f2} /* Keyword.Reserved */
div.highlight .kt { color: #cae682} /* Keyword.Type */
div.highlight .ld { color: #f6f3e8} /* Literal.Date */
div.highlight .m { color: #e5786d} /* Literal.Number */
div.highlight .s { color: #95e454; font-style: italic} /* Literal.String */
div.highlight .na { color: #cae682} /* Name.Attribute */
div.highlight .nb { color: #f6f3e8} /* Name.Builtin */
div.highlight .nc { color: #f6f3e8} /* Name.Class */
div.highlight .no { color: #e5786d} /* Name.Constant */
div.highlight .nd { color: #f6f3e8} /* Name.Decorator */
div.highlight .ni { color: #e7f6da} /* Name.Entity */
div.highlight .ne { color: #f6f3e8} /* Name.Exception */
div.highlight .nf { color: #cae682} /* Name.Function */
div.highlight .nl { color: #f6f3e8} /* Name.Label */
div.highlight .nn { color: #f6f3e8} /* Name.Namespace */
div.highlight .nx { color: #f6f3e8} /* Name.Other */
div.highlight .py { color: #f6f3e8} /* Name.Property */
div.highlight .nt { color: #8ac6f2} /* Name.Tag */
div.highlight .nv { color: #cae682} /* Name.Variable */
div.highlight .ow { color: #f6f3e8} /* Operator.Word */
div.highlight .w { color: #f6f3e8} /* Text.Whitespace */
div.highlight .mf { color: #e5786d} /* Literal.Number.Float */
div.highlight .mh { color: #e5786d} /* Literal.Number.Hex */
div.highlight .mi { color: #e5786d} /* Literal.Number.Integer */
div.highlight .mo { color: #e5786d} /* Literal.Number.Oct */
div.highlight .sb { color: #95e454; font-style: italic} /* Literal.String.Backtick */
div.highlight .sc { color: #95e454; font-style: italic} /* Literal.String.Char */
div.highlight .sd { color: #95e454; font-style: italic} /* Literal.String.Doc */
div.highlight .s2 { color: #95e454; font-style: italic} /* Literal.String.Double */
div.highlight .se { color: #95e454; font-style: italic} /* Literal.String.Escape */
div.highlight .sh { color: #95e454; font-style: italic} /* Literal.String.Heredoc */
div.highlight .si { color: #95e454; font-style: italic} /* Literal.String.Interpol */
div.highlight .sx { color: #95e454; font-style: italic} /* Literal.String.Other */
div.highlight .sr { color: #95e454; font-style: italic} /* Literal.String.Regex */
div.highlight .s1 { color: #95e454; font-style: italic} /* Literal.String.Single */
div.highlight .ss { color: #95e454; font-style: italic} /* Literal.String.Symbol */
div.highlight .bp { color: #f6f3e8} /* Name.Builtin.Pseudo */
div.highlight .vc { color: #cae682} /* Name.Variable.Class */
div.highlight .vg { color: #cae682} /* Name.Variable.Global */
div.highlight .vi { color: #cae682} /* Name.Variable.Instance */
div.highlight .il { color: #e5786d} /* Literal.Number.Integer.Long */
